* {
  box-sizing: border-box;
}

.main {
  position: absolute;
  top: 0;
}

.grid {
  display: grid;
  grid-template-columns: 0.8fr 0.2fr;
  position: relative;
}

.left-div {
  padding-top: 5px !important;
  width: 100%;
}

.right-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.color-div {
  width: 100px;
  height: 50px;
}